[user]
  name = Martin Foot
  email = martin@mfoot.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  autocrlf = false
  editor = emacs
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab
[advice]
  statusHints = false
[diff]
  renames = copies
[branch]
  autosetupmerge = true
[push]
  default = current
[rerere]
  enabled = true
[merge]
  stat = true
